
@font-face {
    font-family: "jonathan-hetegral";
    src: url("/fonts/Jonathan-Hetegral.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "nexa-light";
    src: url("/fonts/Nexa-ExtraLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "nexa-heavy";
    src: url("/fonts/Nexa-Heavy.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Gambiarra porque o Tailwind não esta resolvendo os nomes das fontes */
.font-jhetegral {
  font-family: "jonathan-hetegral", sans-serif;
}
.font-nexal{
  font-family: "nexa-light", sans-serif;
}
.font-nexah{
  font-family: "nexa-heavy", sans-serif;
}