
@font-face {
    font-family: "jonathan-hetegral";
    src: url("/fonts/Jonathan-Hetegral.otf") format("opentype");
}
@font-face {
    font-family: "nexa-light";
    src: url("/fonts/Nexa-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "nexa-heavy";
    src: url("/fonts/Nexa-Heavy.ttf") format("truetype");
}
